<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Team_09_Course_Project.My.MySettings.team_09ConnectionString"
            connectionString="Driver={PostgreSQL ANSI};database=team_09;server=75.100.19.88;port=5432;uid=coplienr;sslmode=disable;readonly=0;protocol=7.4;user id=coplienr;pwd=cgfWPcLEQHB2z75;password=cgfWPcLEQHB2z75"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>